
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{%url 'index'%}">BG BLOG</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'about' %}">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/articles">Articles</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      {% if  request.user.is_authenticated %}
      <li class="nav-item active">
          <a href="{%url 'article:dashboard' %}" class="nav-link"> Dashboard </a>
      </li>
      <li class="nav-item active">
          <a href="{%url 'user:logout' %}" class="nav-link"> Logout </a>
      </li>

      {% else %}
      <li class="nav-item active">
          <a href="{%url 'user:login' %}" class="nav-link"> Login </a>
      </li>
      <li class="nav-item active">
          <a href="{%url 'user:register' %}" class="nav-link"> Register </a>
      </li>

      {% endif %}
        
      </ul>
      

    </div>
  </nav>