{% extends "layout.html" %}

{% block body %}

            
            <div class="row">
                <div class="col-lg-12">

                    <form style="float: right;">    
                        {% csrf_token %}
                        <input type="text" name="keyword" id="search" placeholder="search...">
                        <button type="submit" class="btn btn-primary btn-md">Search</button>
                    </form>

                    <h1>ARTICLES</h1>
                    <hr>
                </div>
            </div>
          
              {% if articles %}

                    {% for article in articles %}
                    <div class="row" style="border-radius: 2%; margin-top: 2%; background-color: #E9ECEF;">
                        <div class="col-lg-12">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <a href="{% url 'article:detail' article.id %}" style="text-decoration: none">
                                        <!-- /articles/article/{{article.id}} -->
                                        <h2 class="fw-bolder mb-1">{{article.title}}</h2>
                                    </a> 
                                    <!-- Post meta content-->
                                    <p class="text-muted fst-italic mb-2"> <b>Written by {{article.author}}</b></p>
                                    <hr>
                                    <p class="text-muted fst-italic mb-2"> <b style="color: rgb(238, 180, 180);">Posted on {{article.createdDate}}</b></p>
                                    <hr>
                                    
                                </header>
                                <!-- Preview image figure-->
                                {% if article.articleImage %}
                                    <img class="img-fluid rounded" src="{{article.articleImage.url}}" alt="" />
                                {% else %}
                                    <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                                {% endif %}
                                <hr>
                                <!-- Post content-->
                                <section class="mb-5">
                                    <p>
                                        {{article.content|safe|truncatewords:25}}
                                    </p>
                                    <a href="{% url 'article:detail' article.id %}" class="btn btn-danger" style="float: right;">
                                        Read more
                                    </a>
                                    <hr>
                                </section>
                            </article>
                        </div>
                        <!-- Side widgets-->
                       
                    </div>    
                    {% endfor %}

              {% else %}
              <div class="alert alert-danger">
                There are no posts in this blog...
              </div>
              {% endif %}

        
{% endblock body %}