{% extends "layout.html" %}

{% block body %}

    
              {% if articles %}

                    {% for article in articles %}
                    <div class="jumbotron ">
                        <div class="row">
                            <div class="col-lg">

                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h2 class="fw-bolder mb-1">{{article.title}}</h2>
                                    <!-- Post meta content-->
                                    <p class="text-muted fst-italic mb-2"><b>Written by {{article.author}}</b></p>
                                    <hr>
                                    <p class="text-muted fst-italic mb-2">Posted on {{article.createdDate}} </p>
                                    <hr>
                                </header>

                                {% if article.articleImage %}
                                <img class="img-fluid rounded" src="{{article.articleImage.url}}" alt="" />
                                {% else %}
                                <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                                {% endif %}
                                <hr>
                                  
                            </div>
                        </div>  
                    </div>
                    {% endfor %}

              {% else %}

              {% endif %}

        
{% endblock body %}