{% extends "layout.html" %}

{% block body %}    
{% load crispy_forms_tags %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Kayıt Ol</h3>
            <br>
            
            <form method="post">

                {% csrf_token %}
                <!-- csrf token ile paraolaların sifrelenerek gonderilmesi saglanır ve man in the middle ataklaraına karsı bir onlem alınmıs olur   form.as_p form gosterimi-->
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-danger">Kayıt Ol</button>
        
            </form>
            
        </div>
    </div>

{% endblock body %} 
